*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
thin-clients/code/data/images/train/*.jpg filter=lfs diff=lfs merge=lfs -text
*jpg filter=lfs diff=lfs merge=lfs -text
